

img{
    height: auto;
    width: 100%;
}

ul li a{
    color: #fff;
    text-decoration: none;
}
.imgContainer{
    position: relative;
    height: auto;
}

.imgContainer div{
    position: absolute;
    bottom: 60%;
    left: 25%;
    height: auto;
    text-align: center;
    background-color: grey;
    opacity: .7;
    font-size: 2em;
    border-radius: 10px;
}


.news p{
    width: 400px;
    height: auto;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    display:block;
    margin: 0 auto;
}
 
.news a{
    position: absolute;
    bottom: 5px;
    right: 5px;
}